<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
    rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script></head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{url_for('static',filename='Client.js')}}"></script>
    <body>
        <div id="headDate" class="Date">
            {% if datenow %}
            {{ datenow }}   
            {% endif %}
        </div>

        <div id="Line1" class="line">Ligne 3</div>
        <div id="Line2" class="line">Ligne 2</div>
        <div id="Line3" class="line">Ligne 1</div>
        <div id="Line4" class="line" style="display: none;"></div>
        <div id="Line5" class="line" style="display: none;"></div>


</body>
</html>