body{
    transition: 1.5s;

    background-color: rgb(2, 7, 29);
    text-align: center;
    justify-content: center;
    background-position: fixed;
}

#day_night img{

    cursor: pointer;
    background-size: 10px;
    background: radial-gradient(200px ,rgb(51, 59, 104),transparent 20%);
    height: 100px;
    width: 100px;
    display:inline-block;
    position:absolute;
    left: 2px;
}
#day_night img:hover{
    background: radial-gradient(250px ,rgb(118, 126, 171),transparent 20%);
}
.line{
    transition: 0.5s;
    opacity: 30%;
    background-color: rgb(2, 9, 30);
    margin: 3%;
    margin-top: 0.5%;
    width: 15%;
    height:70%;
    display: inline-block;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(137, 173, 207);
}

.line:hover{
    top: 0%;
    transition: 0.3s;
    width: 25%;
    height: 100%;
    opacity: 100%;
}

#verification{
    margin-top: 10%;
    text-align: center;
    width: 100%;
    display: block;
}

.message{
    background-color: rgb(15, 13, 34);
    color: rgb(255, 110, 110);
}

.box{
    transition: 0.3s;

    opacity: 80%;
    display: block;
    margin-top: 1%;

    margin-left: 1%;

    width: 100%;
    height: 100%;
    text-align: left;
    background-color: rgb(47, 61, 74);


}
.box:hover{
    opacity: 100%;
}

.machineName{
    border-color: rgb(42, 6, 6);
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-radius: 3px;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 29, 18);

    font-size: small;
    display: inline-block;
}
.buttons{
    position: absolute;
    text-align: center;
    width: 7%;
    display: inline-block;
}

.okBut{
    border-style: none;
    overflow: hidden;
    color: white;
    border-radius: 3px;
    font-size: 100%;
    background-color: rgb(9, 155, 121);
}

.okBut:hover{
    cursor: pointer;
    background-color: rgb(23, 75, 130);
}

.notBut:hover{
    cursor: pointer;
    background-color: rgb(130, 50, 126);
}

.notBut{
    
    border-style: none;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    font-size: 100%;
    background-color: rgb(148, 17, 63);
}

.PF{
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 10%;
    border-style: none;
    background: radial-gradient(#7003a7, #14036b);    background-color: blue;
    border-width: 2px;
    height: 22px;
    width: 30px;
}
.PF:hover{
    cursor: pointer;
    background: radial-gradient(#5c2876, #7467b0);    background-color: blue;

}

.note{
    color: rgb(0, 0, 0);
    font-size:10px;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 5px; 
    display: inline-block;
    width: 40%;
    height:30px;
    background-color: rgb(111, 132, 151);
    transition: 0.33s;

    overflow: hidden;
}

.note:hover{
    cursor: pointer;
    position: relative;
    background-color: white;
}

.signal{
    margin-top: 5px;
    position: absolute;
    display: inline-flex;
    height: 20px;
    width: 2.4%;
}

.buttonHist{
    background-image: url("/static/images/Historique.png");
    background-size: 15px;
    display: inline-block;

    margin-left:2%;
    width: 15px;
    height: 15px;
    transition: 0.3s;

}

.buttonHist:hover{
    border-radius: 5%;
    background-color:rgb(84, 97, 125) ;
    cursor: pointer;
    transition: 0.3s;
}

.Date{
    margin-left: 45%;
    border-color: rgb(2, 7, 29);
    width: 10%;
    border-style: solid;
    display: block;
    color: rgb(150, 154, 175);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Date:hover{
    cursor: pointer;
    border-style: bold;
    border-radius: 10%;
    border-color: rgb(121, 138, 168);
    border-width: 2px;


}
.Datelist{
    margin-left: 25%;
    border-color: rgb(2, 7, 29);
    width: 50%;
    border-style: solid;
    display: block;
    color: rgb(150, 154, 175);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.Datelist:hover{
    cursor: pointer;
    border-style: bold;
    border-radius: 10%;
    border-color: rgb(121, 138, 168);
    border-width: 2px;

}

#Rewind{
    cursor: pointer;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-image: url("/static/images/Rewind.png");
}
#Rewind:hover{
    background-color: rgb(123, 129, 158);
    transition: 0.5s;
}
.day-mode{
    transition: 1.5s;
    background-color: rgb(166, 175, 182);
    color: black;
}
.day-mode .line{
    background-color:  rgb(166, 175, 182);

    color: black;
}
.day-mode .Date{
    color: black;
}

.day-mode .Datelist{
    color: black;
}